html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #A5DEFB;
}
/*Barrita.......*/
* {
	margin:0;
	padding:0;
}

header {
	width:100%;
  font-family: Montserrat;
  position: fixed;
}
.menus {
  color: #fff;
  border: #fff;
}
.menuicon{
float: right;
}

header nav {
	width:100%;
	max-width:100%;
	margin:0px auto;
	background:#C02E2B;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#C02E2B;
}

section {
	padding:20px;
}
/*Width para la barra lateral (grosor) */
@media screen and (max-width:800px ) {
	header nav {
		width:20%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#C02E2B;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
/*Slider animation 1 ...................*/
.slider{
    width: 100%;
    overflow: hidden;
    display: block;
}

.slider ul{
    margin: 0%;
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite;
    animation-direction: alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media (max-width: 1300px){
    
    .slider{
        overflow: hidden;
        display: inline-block;
    }
    }
    
    /*footer*/

    .pie{
      overflow: hidden;

  }
  .izquierda{
      background-color: red;
      float: left;
      width: 30%;
      padding: 20px;
  
  }
  .derecho{
      background-color: blue ;
      float: left;
      width: 30%;
      padding: 20px;
  }
  .centro{
      background-color: blueviolet;
      float: left;
      width: 30%;
  }
  .rs{
      width: 30%;
  }
  /*foother...........................*/
.end{
    margin: 0px;
    width: 100%;
    height: 200px;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 800px){
    .end{
        margin: 0px;
        width: 100%;
        height: 100px;
        background-color: floralwhite;
        display: flex;
        justify-content: space-around;
    }  
}

.endi img{
    margin-left: 40px;
    width: 200px;
    height: auto;
    opacity: 0.5;
}

.endt{
    margin-left: 15px;
    width: 50%;
    height: auto;
}

.endt p{
    width: 100%;
    height: auto;
    font-size:0,5em;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #10102D;
    opacity: 0.5;
}

h4{
    color: #10102D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 900;
}

.icon a img{
    width: 10%;
    height: auto;
    margin-left: 20px;
}

.endc{
    margin-left: 50px;
    display: flex;
    align-items: center;
}

@media (max-width: 800px){
    .endi img{
        margin-left: 10px;
        width: 100px;
        height: auto;
        opacity: 0.5;
    }
    
    .endt{
        margin-left: 15px;
        width: 50%;
        height: auto;
    }
    
    .endt p{
        width: 100%;
        height: auto;
        font-size:50%;
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #10102D;
        opacity: 0.5;
    }
    
    .icon{
        display: inline-block;
    }

    h4{
        margin: 0;
        color: #10102D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: 900;
    }
    
    .icon a img{
        width: 15%;
        height: auto;
        margin-left: 15px;
    }
    
    .endc{
        margin-left: 50px;
        display: block;
   }
}

/*Fichas de perfil*/

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    background-color:#F7E263;
}

.colum {
    flex: 1;
    border: 1px solid #F7E263;
    margin: 2px;
    padding: 10px;
    background: #F7E263;
    transition: 0.3s;
}

.colum:first-child{
    margin-left: 10px;
    margin-right: 10px;
    background: #F7E263;
    max-width: 300px;
}

.colum:last-child{
    margin-left: 10px;
    margin-right: 10px;
    background: #F7E263;
    font-family: Montserrat;
}

@media screen and (max-width: 980px) {
    .columns .colum {
        margin-bottom: 5px;
        flex-basis: 60%;
    }
    .columns {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px 0;
        background-color:#F7E263;
        border-radius: 10%;
        margin-bottom: 3%;
    }
}

.perfil img {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
}